{
  "./*.js": [
    "eslint --fix --quiet -f visualstudio",
    "prettier --write",
    "rollup -c rollup.config.js --",
    "git add dist/index.js",
    "jest --maxWorkers=2 --silent --forceExit --errorOnDeprecated --ci --bail --findRelatedTests"
  ],
  "*.{md,html,json,yaml,yml}": [
    "prettier --write",
    "git add"
  ]
}
