{
  "*.js": [
    "eslint --fix --quiet -f visualstudio",
    "prettier --write",
    "rollup -c",
    "git add",
    "node node_modules/jest-cli/bin/jest --maxWorkers=2 --silent --forceExit --errorOnDeprecated --ci --bail --findRelatedTests"
  ],
  "*.{md,html,json,yaml,yml}": [
    "prettier --write",
    "git add"
  ]
}
